/*
 *= require_tree .
 *= require_self
 */

 body {
  width: 100%;
 }

 .alert-wrapper {
  position: absolute;
  top: 5px;
  right: 5px;
  width: 350px;
  z-index: 1;
}

.alert {
  position: absolute;
  top: 10px;
  right: 5px;
  width: 350px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.header {
  height: 50px;
  font-size: 0.9rem;
  box-shadow: 0 5px 3px 0px rgba(0, 0, 0, 0.05);
  background-color: #cccccf;
  position: relative;
}

.header a {
  color: #0c0000 !important;
}

.top_menu {
  float: right;
}

.top_menu ul {
  margin: 0;
  padding: 0;
}

.top_menu li {
  padding: 15px 12px;
  float: left;
  width: auto;
  list-style: none;
}

.title_area {
  margin-top: 20px;
}

.title_area h1 {
  font-family: 'IBM Plex Sans JP', sans-serif;
  font-size: 3rem;
  text-align: center;
}

.sort_search_area {
  max-width: 800px;
  margin: 0 auto;
  display: flex;
  flex-wrap: nowrap;
}

.sort_bar {
  color: #FFF;
  background-color:teal;
  border-radius: 8px;
  margin: 10px 4px;
  padding: 8px;
  text-align: center;
}

.extract_bar {
  color: #FFF;
  background-color: royalblue;
  border-radius: 8px;
  margin: 10px 4px;
  padding: 8px;
  text-align: center;
}

.task_area table {
  margin: 40px auto
}

.task_area th {
  color: #333333;
  font-size: 0.8rem;
  text-align: center;
  padding: 8px;
}

.task_area td {
  border: #FFF solid 2px;
  padding: 6px 10px;
}

.task_record {
  background-color: #f9f9ff;
  padding: 4px;
  margin-top: 20px;
}

.pagination {
  justify-content: center;
  text-align: center;
  margin-top:  20px;
}